.container {
  display: flex;
  justify-content: start;
  margin-top: 0;
  animation-name: arrowMovement;
  animation-duration: 1s;
  width: 100%;
}

#tweet-text {
  font-size: 500;
}

.container button {
  background: #5a6792;
  color: white;
  font-family: Bungee;
  transition: all .2s ease-in-out;
}

.container button:hover { transform: scale(1.1); }

.counter {
  font-family: Bungee;
}

.container label {
  font-family: Source Sans Pro;
  font-weight: 600;
}

#label-textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 4px solid black;
  padding-bottom: 2em;
  width: 80%;
}

#handle {
  display: flex;
  justify-content: end;

}

.container div {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  width: 80%;
}

.bottom {
  border: 1px solid;
  margin: 1em 0
}

.new-tweet {
  width: 100%;
}

.red-text {
  color: red;
}

article {
  display: flex;
  flex-direction: column;
  border: .25em solid black;
  margin-top: 1em;
  margin-bottom: 1em;

}

article:hover {
  box-shadow: 10px 5px 15px rgb(85, 81, 81);
}

icons i {
  margin: 5px;
}

icons i:hover {
  color: rgb(197, 170, 49)
}

header {
  display: flex;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article header {
  justify-content: space-between;
  margin-right: 30px;
  margin: 0 25px;
}

#face-icon-and-name {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

#face-icon-and-name span {
  padding-left: 20px;

}

#label-textbox {
  padding: 5px;
}

#tweet-text {
  width: 600px; /*clamp*/
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;

}

#tweet {
  text-align: start;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: .25em solid black;
  word-wrap: break-word;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: .60em;
  font-size: 16px;
}

#tweets-container {
  display: flex;
  flex-direction: column;
}

.errorNoText {
  margin-top: 30px;
  display: none;
  width: 600px;
  border: 6px solid red;
  color: red;
}

.errorLength {
  margin-top: 30px;
  display: none;
  width: 600px;
  border: 6px solid red;
  color: red
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  };

  .container {
   margin-top: 600px;
  }

  #main-header {
    margin-top: 200px;;
  }
  
}