#main-header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 110px;
  z-index: -2;
  background-color: rgb(119, 136, 161);
  background-color: #80c5df;
  background-image: url("https://www.transparenttextures.com/patterns/twinkle-twinkle.png");
}
