.container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.container button {
  background: #5a6792;
  color: white;
  font-family: Bungee;
}

.counter {
  font-family: Bungee;
}

.container label {
  font-family: Source Sans;
}

#label-textbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 4px solid black;
  padding-bottom: 2em;
}

.container div {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.bottom {
  border: 1px solid;
  margin: 1em 0
}

.new-tweet {
  width: 40%;
}

.red-text {
  color: red;
}

article {
  display: flex;
  flex-direction: column;
  border: .25em solid black;
  margin-top: 1em;
  margin-bottom: 1em;

}

article:hover {
  box-shadow: 10px 5px 15px rgb(85, 81, 81);
}

icons i {
  margin: 5px;
}

icons i:hover {
  color: rgb(197, 170, 49)
}

header {
  height: 70px;

  display: flex;
  align-items: center;
}

article header {
  justify-content: space-between;
  margin-right: 30px;
  margin: 0 25px;
}

#face-icon-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

#face-icon-and-name span {
  padding-left: 20px;

}

#tweet {
  padding-bottom: 20px;
  padding-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: .25em solid black;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: .60em;
  font-size: 16px;
}

#tweets-container {
  display: flex;
  flex-direction: column;
}

.errorNoText {
  margin-top: 10px;
  display: none;
  border: 6px solid red;
  color: red;
}

.errorLength {
  margin-top: 10px;
  display: none;
  border: 6px solid red;
  color: red
}
